<template>
    <div>
        <notifications group="foo" position="center"/>
        <Container v-if="!$route.meta.hideNavigation"></Container>
        <NoNav v-if="$route.meta.hideNavigation"></NoNav>
    </div>
</template>
<script>
    import Container from './Container'
    import NoNav from './NoNav'

    export default {
        name: 'App',
        components: {
            Container,
            NoNav
        }
    }
</script>
