<template>
<div>

    <!--<div class="preloader">-->
        <!--<div class="d-table">-->
            <!--<div class="d-table-cell">-->
                <!--<div class="spinner">-->
                    <!--<div class="circle1"></div>-->
                    <!--<div class="circle2"></div>-->
                    <!--<div class="circle3"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div class="navbar-area">

        <div class="mobile-nav">
            <a href="/" class="logo">
                <img src="/landing/images/logo.jpg" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container-fluid">
                <nav class="container-max navbar navbar-expand-md navbar-light ">
                    <a class="navbar-brand" href="#">
                        <img src="/landing/images/logo.jpg" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link active">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services
                                    <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Property management
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Tenant management
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Contact
                                </a>
                            </li>
                        </ul>
                        <div class="side-btn-area">
                            <a href="tel:+1(778)453221" class="call-btn">
                                <i class='bx bx-phone'></i>
                                +254 735812001
                            </a>
                        </div>
                        <div class="appointment-btn">
                            <router-link :to="{name:'home'}" href="#" class="default-btn default-bg-buttercup">
                                My Account
                                <i class='bx bx-right-arrow-alt'></i>
                            </router-link>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <transition name="fade">
        <router-view></router-view>
    </transition>
</div>


</template>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
