<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Buildings ({{buidlings.length}})</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a  data-toggle="modal" data-target="#addpaper" class="btn btn-warning rounded-0 text-white">Add Building</a>
                            </div>
                            <!--<div class="mb-3 mb-xl-0 ml-3">-->
                                <!--<download-excel :data="clients">-->
                                    <!--<a class="btn btn-primary rounded-0 text-white fa fa-print"></a>-->
                                <!--</download-excel>-->
                            <!--</div>-->

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Physical location</th>
                                    <th>Property Number</th>
                                    <th>Type of rental</th>
                                    <th>Number of rooms</th>
                                    <th>Care taker</th>
                                    <th>Edit</th>
                                    <!--<th></th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post ,index) in buidlings">
                                    <td>{{index+1}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.address}}</td>
                                    <td>{{post.number}}</td>
                                    <td>{{post.type}}</td>
                                    <td>{{post.rooms}}</td>
                                    <td>0</td>
                                    <td ><a class="fa fa-edit text-primary" v-on:click="edit(post.id,post.name,post.address,post.number,post.type)"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>





            <div class="modal fade" id="addpaper" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Add a property</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="pt-3" v-on:submit.prevent="submit()">
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text"  v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Buidling Name " required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Address" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text"  v-model="message.number" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Buidling Number " required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" v-model="message.type" id="exampleSelectGender" required>
                                                <option selected="true" disabled="disabled" >Select Type of rental</option>
                                                <option >Long time</option>
                                                <option >Short time</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="addpaper2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Add a property</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="pt-3" v-on:submit.prevent="update()">
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text"  v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Buidling Name " required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Address" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text"  v-model="message.number" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Buidling Number " required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="form-control" v-model="message.type" id="exampleSelectGender" required>
                                                <option selected="true" disabled="disabled" >Select Type of rental</option>
                                                <option >Long time</option>
                                                <option >Short time</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                buidlings:[],
            }
        },
        created() {
            setTimeout(() => {
                this.loaddata();
            }, 2000);
        },
        methods: {
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.buidlings = response.data.data;
                    // datatable();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            submit() {
                loadbutton();
                let uri =this.proxyUrl+`auth/building/add`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                   stopbutton();
                    if(response.data.status){
                       showSuccessToast(response.data.message);
                        // $('#addpaper').modal('hide');
                       this.loaddata();
                       this.message={};

                    }else{
                        showWarningToast(response.data.message)
                    }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },
            edit(id,name,address,number,type) {
                this.message={"name":name,"id":id,"address":address,'type':type,'number':number};
                $('#addpaper2').modal('show');
            },
            update() {
              loadbutton();
                let uri =this.proxyUrl+`auth/building/update`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                   stopbutton()
                    if(response.data.status){
                       showSuccessToast(response.data.message);
                        $('#addpaper2').modal('hide');
                       this.loaddata();
                    }else{
                        showWarningToast(response.data.message)
                    }
                }).catch(error => {
                   stopbutton()
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },

        }
    }
</script>
