<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Select a building to bill</h4>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Physical location</th>
                                    <th>Property Number</th>
                                    <th>Type of rental</th>
                                    <th>Number of rooms</th>
                                    <th>Care taker</th>
                                    <th>Bill</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="post in buidlings" :key="post.id">
                                    <td>{{post.id}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.address}}</td>
                                    <td>{{post.number}}</td>
                                    <td>{{post.type}}</td>
                                    <td>{{post.rooms}}</td>
                                    <td>0</td>
                                    <td><router-link data-toggle="tooltip" data-placement="top" title="Rooms to bill" type="button" class="fa fa-money" :to="{name: 'billingrooms', params: { id: post.id }}">
                                    </router-link></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                buidlings:[],
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.buidlings = response.data.data;
                    datatable();
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            submit() {
                startload();
                let uri =this.proxyUrl+`auth/building/add`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    stopload();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        $('#addpaper').modal('hide');
                        this.$router.go(this.$router.currentRoute)

                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopload();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },
            edit(id,name,address,number,type) {
                this.message={"name":name,"id":id,"address":address,'type':type,'number':number};
                $('#addpaper2').modal('show');
            },
            update() {
                startload();
                let uri =this.proxyUrl+`auth/building/update`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    stopload();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        $('#addpaper2').modal('hide');
                        this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopload();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },

        }
    }
</script>
