<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Houses ({{rooms.length}})</h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender" v-model="message.id" v-on:change="setID()">
                                    <option disabled selected="selected">Select your building</option>
                                    <option  v-for="data in buildings" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                                </select>
                                <p v-if="showInfo==='true'" class="text-danger">{{info}}</p>
                            </div>
                        </div>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a  data-toggle="modal" data-target="#addpaper" v-on:click="addRoom()" class="btn btn-warning rounded-0 text-white">Add House</a>
                            </div>
                            <!--<div class="mb-3 mb-xl-0 ml-3">-->
                            <!--<download-excel :data="clients">-->
                            <!--<a class="btn btn-primary rounded-0 text-white fa fa-print"></a>-->
                            <!--</download-excel>-->
                            <!--</div>-->

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Room Number</th>
                                    <th>Monthly Cost (Ksh.)</th>
                                    <th>Other Cost (Ksh.)</th>
                                    <th>Total Cost (Ksh.)</th>
                                    <th>Name of Tenant</th>
                                    <th>Contact of tenant</th>
                                    <th>Occupied</th>
                                    <th>Building</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post,index) in rooms" :key="post.id">
                                    <td>{{index+1}}</td>
                                    <td>{{post.number}}</td>
                                    <td> {{formatPrice(post.cost)}}</td>
                                    <td> {{formatPrice(post.other_cost)}}</td>
                                    <td> {{formatPrice(+post.other_cost+ +post.cost)}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.phone}}</td>
                                    <td class="text-danger" v-if="post.occupied==='No'">{{post.occupied}}</td>
                                    <td class="text-success" v-else>{{post.occupied}}</td>
                                    <td>{{post.building}}</td>
                                    <td><router-link :to="{name:'edithouse',params: {id:post.id}}" type="button" data-toggle="tooltip" data-placement="top" title="Edit" class="fa fa-edit text-primary">
                                    </router-link></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{id:''},
                rooms:[],
                buildings:[],
                info:'',
                showInfo:'false',
            }
        },
        created() {
            this.loadbuildings();
            setTimeout(() => {
                this.loaddata();
            }, 2000);
        },
        methods: {
            setID(){
                this.getBuildingInfo();
            },
            addRoom(){
                if(this.message.id===''){
                   showWarningToast('Please select a building that you want to add house to');
                    this.showInfo='true';
                   this.info='Select a building here...'
                }else{
                    this.$router.push({name: 'addrooms',params:{id:this.message.id}});
                }
            },

            getBuildingInfo(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/building/getBuildingRooms/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.rooms=response.data.rooms;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/landlord/getRooms`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.rooms = response.data.data;
                    // datatable();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});

                    }
                });
            },
            loadbuildings(){
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.buildings = response.data.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }



        }
    }
</script>
