<template>
<div>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-5 mb-4 mb-xl-0">
                    <h4 class="font-weight-bold">Hi, Welcome!</h4>
                    <h4 class="font-weight-normal mb-0">{{name}},</h4>
                </div>
                <div class="col-12 col-xl-7">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div class="border-right pr-4 mb-3 mb-xl-0">
                            <p class="text-muted">Amount collected</p>
                            <h4 class="mb-0 font-weight-bold">Ksh. {{formatPrice(message.total_collected)}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0" >
                            <p class="text-muted">Balance</p>
                            <h4 class="mb-0 font-weight-bold">Ksh. {{formatPrice(message.balance)}}</h4>
                        </div>
                        <div class="border-right pr-4 mb-3 mb-xl-0">
                            <p class="text-muted">My Expenses</p>
                            <h4 class="mb-0 font-weight-bold">Ksh 0.00</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body bg-warning">
                    <p class="card-title text-md-center text-xl-left">Clients</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{message.clients}}</h3>
                        <i class="ti-layers-alt icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">22.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-info">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Building</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0"> {{message.building}}</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-warning">2.00% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-success">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Houses</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{message.rooms}}</h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-danger">0.22% <span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card bg-warning">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Tenants</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{message.rooms}}</h3>
                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <!--<p class="mb-0 mt-2 text-success">10.00%<span class="text-black ml-1"><small>(30 days)</small></span></p>-->
                </div>
            </div>
        </div>

    </div>

    <div class="row" >
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rent collection per month</h4>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">The last 4 pending invoice</h4>
                    <canvas id="pieChart"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                name:'',
                role:'',
                email:'',
                data:[],
                data2:[],
            }
        },
        created() {
            this.loaddata();
            this.name=localStorage.getItem('name');
            this.role=localStorage.getItem('role');
            this.email=localStorage.getItem('email');
            setTimeout(() => {
                this.setChart();
            }, 2000);
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`auth/admin_getSummery`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data;
                    this.data = response.data.data[0];
                    this.data2 = response.data.invoice;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});

                    }
                });
            },
            setChart(){
                var data = {
                    labels: ["Jan", "Feb", "March", "April", "May", "Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                    datasets: [{
                        label: '# visitors',
                        data: [this.data.Jan, this.data.Feb, this.data.Mar, this.data.Apr, this.data.May, this.data.Jun,this.data.Jul,this.data.Aug,this.data.Sept,
                            this.data.Oct,this.data.Nov,this.data.Dece],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1,
                        fill: false
                    }]
                };
                var weeks = [];
                var values = [];
                $.each(this.data2, function(i, item) {
                    weeks.push(item.invoice_no);
                    values.push(item.balance);
                });
                var doughnutPieData = {
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: weeks
                };
                var doughnutPieOptions = {
                    responsive: true,
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                };

                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }

                };
                if ($("#barChart").length) {
                    var barChartCanvas = $("#barChart").get(0).getContext("2d");
                    // This will get the first returned node in the jQuery collection.
                    var barChart = new Chart(barChartCanvas, {
                        type: 'bar',
                        data: data,
                        options: options
                    });
                }
                if ($("#pieChart").length) {
                    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                    var pieChart = new Chart(pieChartCanvas, {
                        type: 'pie',
                        data: doughnutPieData,
                        options: doughnutPieOptions
                    });
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

        }
    }
</script>
