<template>
    <div>

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/index.png" alt="logo" style="width: 20%;">
                                </div>
                                <h4 class="text-center" style="color: #FF7900;">Gikhut</h4>
                                <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                                <form class="pt-3" v-on:submit.prevent="login()">
                                    <div class="form-group">
                                        <input type="email" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" required>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">SIGN IN</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <!--<div class="form-check">-->
                                        <!--<label class="form-check-label text-muted">-->
                                        <!--<input type="checkbox" class="form-check-input">-->
                                        <!--Keep me signed in-->
                                        <!--</label>-->
                                        <!--</div>-->
                                        <router-link :to="{name:'forget'}" href="#" class="auth-link text-black">Forgot password?</router-link>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>

    </div>
</template>
<script>

    export default {
        data(){
            return {

                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        methods: {
            login() {
                loadbutton();
                let uri =this.proxyUrl+`auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                   stopbutton();
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('role', response.data.user.role);
                        localStorage.setItem('email', response.data.user.email);
                        showSuccessToast('Success sign in');
                         this.$router.push({name: 'home'});
                         this.$router.go(this.$router.currentRoute)
                    }else{
                        showWarningToast(response.data.message);
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                   stopbutton();
                    this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    localStorage.removeItem('token')
                });

            },
            otp() {
                loadbutton2();
                let uri =this.proxyUrl+`auth/otp`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton2();
                    if(response.data.status){
                        localStorage.setItem('phone', this.message.phone);
                        $('#addpaper').modal('hide');
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.$router.push({name: 'verify'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton2();
                    this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                });

            },

        }
    }
</script>

