<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">

                <div class="card">
                    <div class="card-body">
                        <P>Profile </P><hr>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab" aria-controls="home-1" aria-selected="true">Personal info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-1" role="tab" aria-controls="profile-1" aria-selected="false">Change password</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                                <form class="pt-3">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1"  disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Email</lablel>
                                                <input type="text" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1"  disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Phone</lablel>
                                                <input type="text" v-model="message.phone" class="form-control form-control-sm" id="exampleInputEmail1" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Role</lablel>
                                                <input type="text" v-model="message.role" class="form-control form-control-sm" id="exampleInputEmail1"  disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>User type</lablel>
                                                <input type="text" v-model="message.user_type" class="form-control form-control-sm" id="exampleInputEmail1" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Status</lablel>
                                                <input type="text" v-model="message.status" class="form-control form-control-sm" id="exampleInputEmail1"  disabled>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                                <form class="pt-3" v-on:submit.prevent="changePassword()">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Current password</lablel>
                                                <input type="password" v-model="message.currentpass" class="form-control form-control-sm" id="exampleInputEmail1" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>New password</lablel>
                                                <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputEmail1"  required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <lablel>Confirm password</lablel>
                                                <input type="password" v-model="message.repass" class="form-control form-control-sm" id="exampleInputEmail1" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-3 col-sm-6">
                                        <button class="btn  btn-primary  font-weight-medium auth-form-btn submitbtn" type="submit">Update password</button>
                                    </div>
                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        created(){
            this.user();
        },
        methods: {
            user(){
                let uri =this.proxyUrl+`auth/user`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.message=response.data.user;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            changePassword(){
                loadbutton();
                let uri =this.proxyUrl+`auth/changePassword`;
                this.axios.post(uri, this.message,{headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                    }else{
                        showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    showDangerToast('System error');
                });
            },

        },



    }

</script>
