<template>
    <div>

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth color-overlay" style="background-image: url(/images/bg.jpg)">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-6 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <!--<img src="/asset/images/logo-mini.svg" alt="logo" style="width: 20%;">-->
                                </div>
                                <h4 class="text-center">Client signup</h4>
                                <!--<h6 class="font-weight-light text-center">Fill the form bellow to signup .</h6>-->
                                <form class="pt-3" v-on:submit.prevent="register()">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.phone" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Phone" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Full name" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="email" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" v-model="message.address" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Address " required>
                                            </div>
                                        </div>
                                    </div>


                                    <p>Authentication*</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password" v-model="message.password" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="password"  v-model="message.repass" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Confirm password" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check d-flex">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input" >

                                            </label>
                                            <router-link :to="{name:'terms'}" href="#" >I agree to the Terms and conditions</router-link>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn submitbtn" type="submit">REGISTER</button>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>


    </div>
</template>
<script>

    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{},
            }
        },
        created() {
           this.message.phone=localStorage.getItem('phone');
        },
        methods: {
            register() {
                loadbutton();
                let uri =this.proxyUrl+`auth/signup`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton()
                    if(response.data.status){
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('role', response.data.user.role);
                        localStorage.setItem('email', response.data.user.email);
                        showSuccessToast('Account created successfully')
                        this.$router.push({name: 'home'});
                        this.$router.go(this.$router.currentRoute)
                    }else{
                       showWarningToast(response.data.message)
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                   stopbutton();
                    this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    localStorage.removeItem('token')
                });

            },
            otp() {
                loadbutton2();
                let uri =this.proxyUrl+`auth/otp`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton2();
                    if(response.data.status){
                        $('#addpaper').modal('hide');
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton2();
                    this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                });

            },

        }
    }
</script>

