<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Add new tenant to <span class="text-primary">{{name}}</span></h4><hr>
                        <form class="pt-3" v-on:submit.prevent="callIPRS()">
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" v-model="message.id_no" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="Enter ID/Passport Number" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit"  class="btn btn-outline-warning btn-block"><i class="fa fa-search"></i></button>
                                </div>
                            </div><hr>
                            <div class="alert alert-danger" role="alert" v-if="showInfo==='true'">
                                {{info}}
                            </div>
                        </form>
                        <div v-if="showpage==='true'">
                            <form class="pt-3" v-on:submit.prevent="addRoom()">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" v-model="message.name" class="form-control form-control-sm" id="exampleInputEmail1" required >
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" v-model="message.email" class="form-control form-control-sm" id="exampleInputEmail1"  >
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>ID No</label>
                                            <input type="text" v-model="message.id_no" class="form-control form-control-sm" id="exampleInputEmail1" disabled >
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <vue-tel-input v-model="message.phone" v-bind="bindProps" class="form-control form-control-sm"></vue-tel-input>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Number of people in the house</label>
                                            <input type="text" v-model="message.people" class="form-control form-control-sm"  >
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>House Number</label>
                                            <select class="form-control" v-model="message.room_id"   required>
                                                <option v-for="country in rooms" :key="country.id" v-bind:value="country.id" >{{country.number}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!--<div class="row">-->

                                    <!--<div class="col-sm-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<label>Car reg no.(If available)</label>-->
                                            <!--<input type="text" v-model="message.car_reg_no" class="form-control form-control-sm"  >-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<label>Laptop serial no.(If available)</label>-->
                                            <!--<input type="text" v-model="message.laptop" class="form-control form-control-sm"  >-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<div class="form-group">-->
                                            <!--<label>Reason for visiting(optional)</label>-->
                                            <!--<input type="text" v-model="message.reason" class="form-control form-control-sm"  >-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="mt-3">
                                    <button class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn submitbtn" type="submit">SAVE</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    minLen:4,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{},
                buidlings:[],
                name:'',
                room:'',
                category:[],
                rooms:{},
                showpage:'false',
                info:'',
                showInfo:'false'
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            callIPRS(){
                $('.card').loader('show', '<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri = this.proxyUrl + `auth/callIPRS`;
                this.axios.post(uri,this.message, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        showSuccessToast(response.data.message);
                        this.message=response.data.data;
                        this.showpage='true';
                    }else{
                            showWarningToast(response.data.message);

                    }

                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    } else {
                        showDangerToast('System unable to complete request');
                    }
                });
            },
            loaddata(){
                let uri =this.proxyUrl+`auth/building/getBuidlingInfo/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.name = response.data.data.name;
                    this.rooms=response.data.rooms;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            addRoom() {
                loadbutton();
                this.message.building_id=this.$route.params.id;
                let uri =this.proxyUrl+`auth/tenant/add`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                    stopbutton();
                    if(response.data.status){
                       showSuccessToast(response.data.message);
                        this.message={};
                        this.showpage='false';
                    }else{
                       showWarningToast(response.data.message);
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


        }
    }
</script>
