<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">My Clients ({{clients.length}})</h4>
                        <!--<div class="d-flex float-left">-->
                            <!--<div class="form-group mr-3">-->
                                <!--<select class="form-control" id="exampleSelectGender" v-model="message.id" v-on:change="setID()">-->
                                    <!--<option disabled selected="selected">Select your building</option>-->
                                    <!--<option  v-for="data in buildings" :key="data.id" v-bind:value="data.id">{{data.name}}</option>-->
                                <!--</select>-->
                                <!--<p v-if="showInfo==='true'" class="text-danger">{{info}}</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="d-flex float-right">-->
                            <!--<div class="mb-3 mb-xl-0">-->
                                <!--<a  data-toggle="modal" data-target="#addpaper" v-on:click="addRoom()" class="btn btn-warning rounded-0 text-white">Add House</a>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="mb-3 mb-xl-0 ml-3">&ndash;&gt;-->
                            <!--&lt;!&ndash;<download-excel :data="clients">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a class="btn btn-primary rounded-0 text-white fa fa-print"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</download-excel>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--</div>-->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Company code</th>
                                    <th>Buildings</th>
                                    <th>Houses</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post,index) in clients" :key="post.id">
                                    <td>{{index+1}}</td>
                                    <td>{{post.name}}</td>
                                    <td>{{post.email}}</td>
                                    <td>{{post.phone}}</td>
                                    <td>{{post.comp_code}}</td>
                                    <td>{{post.buildings}}</td>
                                    <td>{{post.houses}}</td>
                                    <td>{{post.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                clients:[],
            }
        },
        created() {
            setTimeout(() => {
                this.admin_getClients();
            }, 1000);
        },
        methods: {
            admin_getClients(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/admin_getClients`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.clients = response.data.clients;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});

                    }
                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }



        }
    }
</script>
