<template>
    <div>


        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Pending Invoices </h4>
                        <div class="d-flex float-left">
                            <div class="form-group mr-3">
                                <select class="form-control" id="exampleSelectGender" v-model="message.id" v-on:change="setID()">

                                    <option  v-for="data in buildings" :key="data.id" v-bind:value="data.id" >{{data.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Invoice Number</th>
                                    <th>Payment Month</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Room Number</th>
                                    <th>Tenant phone</th>
                                    <th>Tenant name</th>
                                    <th>Building</th>
                                    <th>Pay</th>
                                    <th>Disputer</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="post in invoices" :key="post.id">
                                    <td>{{post.id}}</td>
                                    <td>{{post.invoice_no.toUpperCase()}}</td>
                                    <td>{{post.payment_month}}</td>
                                    <td>Ksh {{formatPrice(post.amount)}}</td>
                                    <td>Ksh {{formatPrice(post.balance)}}</td>
                                    <td>{{post.room}}</td>
                                    <td>{{post.phone}}</td>
                                    <td>{{post.tenant_name}}</td>
                                    <td>{{post.building}}</td>
                                    <td><a @click="showPay(post.invoice_no,post.id)" class="fa fa-money text-info" data-toggle="tooltip" data-placement="top" title="Pay this invoice"></a> </td>
                                    <td><a @click="showDispute(post.invoice_no,post.id)" class=" fa fa-trash text-danger" data-toggle="tooltip" data-placement="top" title="Dispute this invoice"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <form method="post"  v-on:submit.prevent="pay()">
            <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content border-none radius-0 border-t-4 brc-warning-m1 px-3">
                        <div class="modal-header py-2">
                            <i class="bgc-white  mb-n4 mx-auto fa-3x text-orange-m2"></i>
                        </div>

                        <div class="modal-body text-center">
                            <p class="text-orange-d3 text-130 mt-3">
                                Pay Invoice {{message.invoice_no.toUpperCase()}}
                            </p>


                            <div class="form-group row">
                        <span class="floating-label text-grey-m3">
                          Enter mount to pay
                         </span>
                                <div class="col-sm-12 input-floating-label text-blue-d2 brc-blue-m1">
                                    <input type="number" name="name" v-model="message.amount_to_pay" class="form-control form-control-lg  shadow-none" id="id-form-field-2" required />
                                </div>
                            </div>
                            <div class="form-group row">
                            <span class="floating-label text-grey-m3">
                         Transaction ID
                           </span>
                                <div class="col-sm-12 input-floating-label text-blue-d2 brc-blue-m1">
                                    <input type="text" name="name" v-model="message.trans_id" class="form-control form-control-lg  shadow-none" id="id-form-field-2" required />
                                </div>
                            </div>
                            <div class="form-group row">
                        <span class="floating-label text-grey-m3">
                      Payment Method
                        </span>
                                <div class="col-sm-12 input-floating-label text-blue-d2 brc-blue-m1">
                                    <select class="form-control" v-model="message.method"  name="type" required>
                                        <option selected="true" disabled="disabled" >Select Payment method</option>
                                        <option >CASH</option>
                                        <option >MPESA</option>
                                        <option >BANK PAYMENT</option>
                                        <option >CARD</option>
                                    </select>
                                </div>
                            </div>
                            <hr>


                            <div class="modal-footer flex-nowrap bgc-white justify-content-between px-0 py-3">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">
                                    <i class="fal fa-undo-alt mr-1 text-danger"></i>
                                    Close
                                </button>

                                <button type="submit"  class="btn btn-primary submitbtn">
                                    PAY
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <form method="post"  v-on:submit.prevent="dispute()">
        <div class="modal fade" id="dispute" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-none radius-0 border-t-4 brc-warning-m1 px-3">
                    <div class="modal-header py-2">
                        <i class="bgc-white  mb-n4 mx-auto fa-3x text-orange-m2"></i>
                    </div>

                    <div class="modal-body text-center">
                        <p class="text-orange-d3 text-130 mt-3">
                            Are you sure you want to disputer Invoice No {{message.invoice_no.toUpperCase()}}
                        </p>


                        <div class="form-group row">
                        <span class="floating-label text-grey-m3">
                          Describe reason for dispute
                         </span>
                            <div class="col-sm-12 input-floating-label text-blue-d2 brc-blue-m1">
                               <textarea v-model="message.comment" class="form-control" required></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="modal-footer flex-nowrap bgc-white justify-content-between px-0 py-3">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                <i class="fal fa-undo-alt mr-1 text-danger"></i>
                                Close
                            </button>

                            <button type="submit"  class="btn btn-primary submitbtn">
                                DISPUTE
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </form>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    invoice_no:'',
                    id:'',
                },
                invoices:[],
                buildings:[],
            }
        },
        created() {
            this.loadbuildings();
        },
        methods: {
            setID(){
                this.loaddata();
            },
            loaddata(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`auth/invoice/getPendingInvoices/${this.message.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.invoices = response.data.invoices;
                    // datatable();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            showPay(no,id){
                this.message.invoice_no=no;
                this.message.id=id;
                $('#pay').modal('show');
            },
            showDispute(no,id){
                this.message.invoice_no=no;
                this.message.id=id;
                $('#dispute').modal('show');
            },
            loadbuildings(){
                let uri =this.proxyUrl+`auth/landlord/getBuildings`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.buildings = response.data.data;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            pay(){
               loadbutton();
                let uri =this.proxyUrl+`auth/invoice/pay`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.loaddata();
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            dispute(){
                loadbutton();
                let uri =this.proxyUrl+`auth/invoice/dispute`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    stopbutton();
                   if(response.data.status){
                       this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                      this.loaddata();
                   }else{
                       this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                   }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }


        }
    }
</script>
