<template>
    <div>

        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <P> Add House category settings </P><hr>
                        <div class="row justify-content-center">
                            <div class="col-sm-4">

                                <form method="post"  v-on:submit.prevent="create()">

                                    <div class="form-group">
                                        <label class="form-label" for="example-password">Enter category name</label>
                                        <input type="text"  class="form-control" placeholder="e.g 1 bedroom" name="currentpass"  v-model="message.name"  required>
                                    </div>

                                    <div class="form-group mb-0">
                                        <button type="submit"  class="btn btn-primary btn-sm btn-block submitbtn" >Submit

                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-8">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category name</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(post,index) in data" :key="post.id">
                                        <td>{{index+1}}</td>
                                        <td>{{post.name}}</td>
                                        <td><a class="fa fa-edit text-primary"></a> </td>

                                    </tr>

                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                data:[],
                count:'',
            }
        },
        created() {
             this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`auth/client/houseCategory`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.data = response.data.data;
                    this.count = response.data.count;
                    // datatable();
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }
                });
            },
            create() {
               loadbutton();
                this.message.building_id=this.$route.params.id;
                let uri =this.proxyUrl+`auth/client/addhouseCategory`;
                this.axios.post(uri, this.message ,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then((response) => {
                   stopbutton();
                    if(response.data.status){
                       showSuccessToast(response.data.message)
                        this.message={};
                        this.loaddata();
                    }else{
                        this.message={};
                       showWarningToast(response.data.message);
                    }
                }).catch(error => {
                   stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'we are not able to complete your request' , type:'error', title: 'error'});
                    }

                });

            },



        }
    }
</script>
